Repository gatsbyjs/gatsby-ja, pull requests merged in 2020-01, with the labels that each got.

#32 docs: translate docs/glossary/react.md
  docs/docs/glossary/react.md
Labels: status: reviewer #2 missing

#44 chore: add imbsky as CODEOWNER
  CODEOWNERS
Labels: status: awaiting more approval

#30 additional-tutorial first commit
  docs/tutorial/additional-tutorials.md
Labels: status: awaiting more approval

#36 Translate docs/using-a-plugin-in-your-site
  docs/docs/using-a-plugin-in-your-site.md
Labels: status: awaiting more approval

#38 Add two label-related workflows
  .github/workflows/label-when-approved.yml
  .github/workflows/label-when-created.yml
  .github/workflows/lint.yml
Labels: enhancement, status: awaiting more approval

#31 translate tutorial/part-six/index
  docs/tutorial/part-six/index.md
Labels: status: awaiting more approval

#37 Translate docs/v2-release-notes
  docs/docs/v2-release-notes.md
Labels: status: awaiting more approval

#41 Translate docs/upgrading-node-js
  docs/docs/upgrading-node-js.md
Labels: status: awaiting more approval

#55 docs: translate docs/recipes/working-with-starters
  docs/docs/recipes/working-with-starters.md
Labels: status: awaiting more approval

#56 Add a proofreading rule (御覧 -> ご覧)
  prh.yml
Labels: status: awaiting review

#45 Translate docs/winning over stakeholders
  docs/docs/winning-over-stakeholders.md
Labels: status: awaiting more approval

#65 translate tutorial/using-multiple-themes-together
  docs/tutorial/using-multiple-themes-together.md
Labels: status: awaiting more approval

#48 Tanslate transforming data
  docs/docs/recipes/transforming-data.md
Labels: status: awaiting more approval

#67 Translation docs/tutorial/using-a-theme.md
  docs/tutorial/using-a-theme.md
Labels: status: awaiting more approval

#71 Translated Docs/upgrade-gatsby-and-dependencies.md into Japanese
  docs/docs/upgrade-gatsby-and-dependencies.md
Labels: status: awaiting more approval

#73 docs: translate docs/themes/using-a-gatsby-theme
  docs/docs/themes/using-a-gatsby-theme.md
Labels: status: awaiting more approval

#51 Translation tutorial/wordpress-image-tutorial into Japanese
  docs/tutorial/wordpress-image-tutorial.md
Labels: status: awaiting more approval

#61 Translation Docs/starters into Japanese
  docs/docs/starters.md
Labels: status: ready to merge

#35 Translate docs/what-you-dont-need-plugins-for
  docs/docs/what-you-dont-need-plugins-for.md
Labels: status: awaiting more approval

#27 docs: translate tutorial/part-one/index
  docs/tutorial/part-one/index.md
Labels: core pages, status: awaiting more approval

#80 Translate docs/themes/using-multiple-gatsby-themes
  docs/docs/themes/using-multiple-gatsby-themes.md
Labels: status: ready to merge

#40 chore: update contribution guide and proofreading rules
  .textlintrc.js
  README.md
  docs/contributing/code-of-conduct.md
  docs/contributing/why-contribute-to-gatsby.md
  docs/docs/index.md
  docs/docs/quick-start.md
  package.json
  prh.yml
  style-guide.md
Labels: status: awaiting more approval, status: ready to merge

#42 Translate docs/sass
  docs/docs/sass.md
Labels: status: ready to merge

#63 Translate docs/using-client-side-only-packages
  docs/docs/using-client-side-only-packages.md
Labels: status: awaiting more approval

#97 Add LICENSE and contributor field in package.json
  LICENSE
  package.json
Labels: status: awaiting more approval, status: ready to merge

#64 Translation docs/static-query into Japanese
  docs/docs/static-query.md
Labels: status: awaiting more approval

#43 Translate docs/use-static-query
  docs/docs/use-static-query.md
Labels: status: awaiting author response, status: awaiting more approval

#82 Translate docs/sourcing-from-private-apis
  docs/docs/sourcing-from-private-apis.md
Labels: status: awaiting more approval, status: ready to merge

#111 Run formatter
  docs/accessibility-statement.md
  docs/docs/glossary/react.md
  docs/docs/glossary/webpack.md
  docs/docs/recipes/transforming-data.md
  docs/docs/recipes/working-with-starters.md
  docs/docs/themes/using-a-gatsby-theme.md
  docs/docs/upgrade-gatsby-and-dependencies.md
  docs/docs/using-client-side-only-packages.md
  docs/tutorial/part-one/index.md
  docs/tutorial/part-six/index.md
  docs/tutorial/part-zero/index.md
  docs/tutorial/using-a-theme.md
  docs/tutorial/wordpress-image-tutorial.md
Labels: status: ready to merge

#104 chore: update style guide
  .github/pull_request_template.md
  style-guide.md
Labels: status: awaiting more approval, status: ready to merge

#53 feat(docs): translate working-with-gifs
  docs/docs/working-with-gifs.md
Labels: status: awaiting more approval

#49 translate gatsby-cli
  docs/docs/gatsby-cli.md
Labels: core pages, status: awaiting more approval

#115 Fix markdown of tutorial/part-one
  docs/tutorial/part-one/index.md
Labels: core pages, status: awaiting more approval

#105 docs: translate docs/setting-up-gatsby-without-gatsby-new
  docs/docs/setting-up-gatsby-without-gatsby-new.md
Labels: status: awaiting more approval, status: ready to merge

#114 Translate docs/sourcing-from-hosted-services
  docs/docs/sourcing-from-hosted-services.md
Labels: status: awaiting more approval, status: ready to merge

#100 Translation docs/running-queries-with-graphiql into Japanese
  docs/docs/running-queries-with-graphiql.md
Labels: status: awaiting more approval, status: ready to merge

#117 Remove label-related workflows
  .github/workflows/label-when-approved.yml
  .github/workflows/label-when-created.yml
Labels: status: awaiting more approval, status: ready to merge

#88 Translate docs/recipies/deploying-your-site.md
  docs/docs/recipes/deploying-your-site.md
Labels: status: awaiting more approval

#46 docs: translate tutorial/part-two/index
  docs/tutorial/part-two/index.md
Labels: core pages, status: awaiting more approval

#47 Translate docs/docs/themes/building-themes
  docs/docs/themes/building-themes.md
Labels: status: awaiting more approval

#39 Translate tutorial/blog-netlify-cms-tutorial
  docs/tutorial/blog-netlify-cms-tutorial/index.md
Labels: status: awaiting more approval, status: ready to merge

#52 translate docs/releases-and-migration
  docs/docs/releases-and-migration.md
Labels: status: awaiting more approval, status: ready to merge

#75 Translate docs/static-folder
  docs/docs/static-folder.md
Labels: status: awaiting more approval

#110 Translate docs/tutorial-part-four
  docs/tutorial/part-four/index.md
Labels: core pages, status: awaiting more approval

#57 docs: translate docs/using-gatsby-professionally
  docs/docs/using-gatsby-professionally.md
Labels: status: awaiting more approval

#62 Use cache to speed up CI
  .github/workflows/lint.yml
  .gitignore
  package.json
  yarn.lock
Labels: status: awaiting review, status: ready to merge

#81 Translate docs/tutorial/part-five
  docs/tutorial/part-five/index.md
Labels: core pages, status: awaiting more approval

#68 docs: update style-guide
  style-guide.md
Labels: status: awaiting more approval, status: ready to merge

#122 Bump dependencies to latest
  package.json
  yarn.lock
Labels: status: awaiting more approval, status: ready to merge

#103 Translate docs/tutorial/eight
  docs/tutorial/part-eight/index.md
Labels: core pages, status: awaiting review

#84 translate docs/using-gatsby-image
  docs/docs/using-gatsby-image.md
Labels: status: awaiting more approval

#120 Translate docs/typography-js
  docs/docs/typography-js.md
Labels: status: awaiting author response

#72 translate docs/making-your-site-accessible
  docs/docs/making-your-site-accessible.md
Labels: status: ready to merge

#124 translate docs/styled-components
  docs/docs/styled-components.md
Labels: status: ready to merge

#119 Translate docs/winning-over-clients
  docs/docs/winning-over-clients.md
Labels: status: ready to merge

#125 Translate docs/add-404-page
  docs/docs/add-404-page.md
Labels: status: ready to merge

#70 Merge pull request #70 from gatsbyjs/tutorial/part-three
  docs/tutorial/part-three/index.md
Labels: core pages, status: awaiting review

#91 Translate docs/third-party-graphql
  docs/docs/third-party-graphql.md
Labels: status: awaiting more approval

#85 Translate tutorial/part-seven/
  docs/tutorial/part-seven/index.md
Labels: core pages, status: awaiting review

#78 Translate /docs/sourcing-from-databases/
  docs/docs/sourcing-from-databases.md
Labels: status: awaiting review

#108 Translate docs/sourcing-from-the-filesystem
  docs/docs/sourcing-from-the-filesystem.md
Labels: status: awaiting review

#90 theme-tutorials translated
  docs/tutorial/theme-tutorials.md
Labels: status: awaiting more approval

#99 translate docs/glossary/graphql
  docs/docs/glossary/graphql.md
Labels: status: awaiting more approval

#107 translate docs/styling into japanese
  docs/docs/styling.md
Labels: status: awaiting more approval

#121 docs: translate glossary
  docs/docs/glossary.md
Labels: core pages, status: awaiting more approval

#118 translate /docs/recipes/working-with-themes
  docs/docs/recipes/working-with-themes.md
Labels: status: awaiting more approval

#131 docs: translate performance.md
  docs/docs/performance.md
Labels: status: awaiting more approval

#133 Contributing/community
  docs/contributing/community.md
Labels: status: awaiting more approval

#74 translation docs/static-vs-normal-queries into Japanese
  docs/docs/static-vs-normal-queries.md
Labels: status: ready to merge

#127 Contributing/community contributions
  docs/contributing/community-contributions.md
Labels: status: awaiting more approval

#102 translated docs/testing-react-components.md
  docs/docs/testing-react-components.md
Labels: status: awaiting more approval

#106 docs: translated docs/themes/what-are-gatsby-themes
  docs/docs/themes/what-are-gatsby-themes.md
Labels: status: awaiting more approval

#87 Translate docs/testing-css-in-js
  docs/docs/testing-css-in-js.md
Labels: status: awaiting more approval

#77 Translation: docs/themes/getting-started
  docs/docs/themes/getting-started.md
Labels: status: awaiting more approval

#129 translate docs/api-files
  docs/docs/api-files.md
Labels: status: awaiting more approval, status: ready to merge

#134 translate-docs/eslint
  docs/docs/eslint.md
Labels: status: awaiting more approval

#137 Translate docs/emotion
  docs/docs/emotion.md
Labels: status: awaiting more approval

#128 Translate docs/add-a-service-worker
  docs/docs/add-a-service-worker.md
Labels: status: awaiting more approval

#135 translate docs/deploying-s3-cloudfront
  docs/docs/deploying-to-s3-cloudfront.md
Labels: status: awaiting more approval

#139 add docs for docs/testing
  docs/docs/testing.md
Labels: status: awaiting more approval

#92 Translate docs/routing
  docs/docs/routing.md
Labels: status: awaiting more approval

#76 Translate docs/recipes/styling-css
  docs/docs/recipes/styling-css.md
Labels: status: awaiting more approval

#140 Translate docs/add-page-metadata
  docs/docs/add-page-metadata.md
Labels: status: awaiting more approval

#143 Translate docs/deploying-and-hosting
  docs/docs/deploying-and-hosting.md
Labels: status: awaiting more approval

#145 chore: add slug to prh.yml
  prh.yml
Labels: status: awaiting more approval, status: ready to merge
