Repository gatsbyjs/gatsby-ja, pull requests merged in 2020-03, with the labels that each got.

#211 Transtlate contributing/gatsby-docs-translation-guide
  docs/contributing/translation/index.md
Labels: status: awaiting more approval

#212 Docs/creating a sitemap
  docs/docs/creating-a-sitemap.md
Labels: status: awaiting more approval

#220 issue #207 「リスト」と「一覧」を「一覧」に統一する
  .github/pull_request_template.md
  docs/contributing/translation/index.md
  docs/docs/adding-pagination.md
  docs/docs/creating-a-sitemap.md
  docs/docs/deploying-to-firebase.md
  docs/docs/preparing-for-deployment.md
  docs/docs/recipes/sourcing-data.md
  docs/docs/sourcing-content-from-json-or-yaml.md
  docs/docs/sourcing-from-graphcms.md
  docs/docs/starters.md
  docs/docs/themes/conventions.md
  docs/docs/typography-js.md
  docs/docs/using-gatsby-without-graphql.md
  docs/docs/why-gatsby-uses-graphql.md
  docs/tutorial/blog-netlify-cms-tutorial/index.md
  docs/tutorial/ecommerce-tutorial/index.md
  docs/tutorial/part-one/index.md
  docs/tutorial/part-seven/index.md
  docs/tutorial/part-six/index.md
  docs/tutorial/part-two/index.md
  docs/tutorial/part-zero/index.md
  docs/tutorial/wordpress-source-plugin-tutorial.md
  prh.yml
  style-guide.md
Labels: status: ready to merge

#217 translate docs/adding-comments
  docs/docs/adding-comments.md
Labels: status: ready to merge

#214 Translate `docs/building-a-contact-form`
  docs/docs/building-a-contact-form.md
Labels: status: awaiting more approval

#222 Add labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: status: awaiting more approval, status: ready to merge

#221 Translate Docs/adding markdown pages
  docs/docs/adding-markdown-pages.md
Labels: status: awaiting more approval

#224 Revert "Add labeler"
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: status: awaiting more approval

#223 Fix format errors
  docs/contributing/community-contributions.md
  docs/contributing/how-to-label-an-issue.md
  docs/docs/adding-comments.md
  docs/docs/deploying-to-aws-amplify.md
  docs/docs/starters.md
  docs/docs/theme-api.md
  docs/docs/unit-testing.md
Labels: status: awaiting more approval

#216 tutorial/gatsby-image-tutorial
  docs/tutorial/gatsby-image-tutorial/index.md
Labels: status: awaiting more approval

#225 Translate Docs/answering it security
  docs/docs/answering-it-security.md
Labels: status: awaiting more approval

#227 Docs/adding tags and categories to blog posts
  docs/docs/adding-tags-and-categories-to-blog-posts.md
Labels: status: awaiting more approval

#228 Translate docs/docs/custom-html.md
  docs/docs/custom-html.md
Labels: status: awaiting more approval

#229 Translate docs/docs/themes/converting-a-starter.md
  docs/docs/themes/converting-a-starter.md
Labels: status: awaiting more approval

#230 docs: Translate docs/docs/ab-testing
  docs/docs/ab-testing.md
Labels: status: awaiting more approval

#215 docs: translate docs/adding-search-with-algolia.md
  docs/docs/adding-search-with-algolia.md
Labels: status: awaiting more approval

#231 docs: translate additional content for transforming-data
  docs/docs/recipes/transforming-data.md
Labels: status: awaiting more approval

#236 docs: translate docs/api-files-gatsby-ssr
  docs/docs/api-files-gatsby-ssr.md
Labels: status: awaiting more approval

#234 Update transforming-data.md
  docs/docs/recipes/transforming-data.md
Labels: status: awaiting more approval

#237 docs: translate docs/security-in-gatsby
  docs/docs/security-in-gatsby.md
Labels: status: awaiting more approval

#232 docs: update translation of visual-testing-with-storybook
  docs/docs/visual-testing-with-storybook.md
Labels: status: awaiting more approval

#233 translate docs/glossary/jamstack
  docs/docs/glossary/jamstack.md
Labels: status: awaiting more approval

#246 Update lint.yml
  .github/workflows/lint.yml
Labels: status: awaiting more approval
