Repository gatsbyjs/gatsby-ja, pull requests merged in 2020-06, with the labels that each got.

#256 Translate browser support
  docs/docs/browser-support.md
Labels: status: awaiting more approval, status: ready to merge

#261 docs: translate docs/glamor
  docs/docs/glamor.md
Labels: status: awaiting more approval

#258 Update lint.yml
  .github/workflows/lint.yml
Labels: status: awaiting more approval, status: ready to merge

#257 Create dependabot.yml
  .github/dependabot.yml
Labels: status: awaiting more approval, status: ready to merge

#260 docs: translate docs/debugging
  docs/docs/debugging.md
Labels: status: awaiting more approval

#259 docs: translate docs/themes/theme-composition
  docs/docs/themes/theme-composition.md
Labels: status: awaiting more approval

#263 docs: translate docs/cheat-sheet
  docs/docs/cheat-sheet.md
Labels: status: awaiting more approval

#270 docs: translate docs/debugging-cache-issues
  docs/docs/debugging-cache-issues.md
Labels: status: awaiting author response
