Repository gatsbyjs/gatsby-ja, pull requests merged in 2020-02, with the labels that each got.

#60 translate docs/working-with-video.md
  docs/docs/working-with-video.md
Labels: status: awaiting more approval

#138 Translate docs/theme-api
  docs/docs/theme-api.md
Labels: status: awaiting more approval

#144 translate docs/mdx/index
  docs/docs/mdx/index.md
Labels: status: awaiting more approval

#113 Translate docs/tutorial/writing-documentation-with-docz
  docs/tutorial/writing-documentation-with-docz.md
Labels: status: awaiting more approval

#94 Translate docs/sharing-components-across-websites
  docs/docs/sharing-components-across-websites.md
Labels: status: awaiting more approval

#130 translate docs/babel
  docs/docs/babel.md
Labels: status: awaiting more approval

#136 Translate `docs/working-with-images`
  docs/docs/working-with-images.md
Labels: status: awaiting more approval

#148 Add "web page" to prh.yml
  prh.yml
Labels: status: awaiting more approval, status: ready to merge

#146 fix: lint script glob pattern
  package.json
Labels: status: awaiting more approval, status: ready to merge

#112 Translate docs/sourcing-content-from-json-or-yaml
  docs/docs/sourcing-content-from-json-or-yaml.md
Labels: status: awaiting more approval, status: ready to merge

#149 translate docs/localization-i18n
  docs/docs/localization-i18n.md
Labels: status: awaiting more approval

#141 Translate docs/gatsby-image
  docs/docs/gatsby-image.md
Labels: status: awaiting more approval

#157 Translate docs/bulma
  docs/docs/bulma.md
Labels: status: awaiting more approval

#153 Translate docs/add a manifest file
  docs/docs/add-a-manifest-file.md
Labels: status: awaiting more approval

#79 Translate docs/winning-over-developers
  docs/docs/winning-over-developers.md
Labels: status: awaiting more approval

#159 Translate docs/deploying-to-firebase
  docs/docs/deploying-to-firebase.md
Labels: status: awaiting more approval

#147 Translate docs/add-offline-support-with-a-service-worker
  docs/docs/add-offline-support-with-a-service-worker.md
Labels: status: awaiting more approval

#160 Translate docs/deploying-to-heroku
  docs/docs/deploying-to-heroku.md
Labels: status: awaiting more approval

#151 translate /docs/using-gatsby-without-graphql
  docs/docs/using-gatsby-without-graphql.md
Labels: status: awaiting more approval

#126 Translate docs/tutorial/wordpress-source-plugin-tutorial
  docs/tutorial/wordpress-source-plugin-tutorial.md
Labels: status: awaiting more approval, status: ready to merge

#89 Translate docs/tutorial/ecommerce-tutorial
  docs/tutorial/ecommerce-tutorial/index.md
Labels: status: awaiting more approval, status: awaiting review

#86 translation docs/themes/conventions into Japanese
  docs/docs/themes/conventions.md
Labels: status: awaiting more approval

#109 Translate visual-testing-with-storybook
  docs/docs/visual-testing-with-storybook.md
Labels: status: awaiting more approval

#116 feat: translate docs/webpack-and-ssr
  docs/docs/webpack-and-ssr.md
Labels: status: awaiting more approval

#156 translate /docs/working-with-images-in-markdown
  docs/docs/working-with-images-in-markdown.md
Labels: status: awaiting more approval

#166 Tranlate docs/deploying-to-zeit-now
  docs/docs/deploying-to-zeit-now.md
Labels: status: awaiting more approval

#167 translate docs/global-css
  docs/docs/global-css.md
Labels: status: awaiting more approval

#164 Translate docs/path-prefix
  docs/docs/path-prefix.md
Labels: status: awaiting more approval

#150 Translate docs/telemetry
  docs/docs/telemetry.md
Labels: status: awaiting more approval

#163 translate Docs/mdx/markdown syntax
  docs/docs/mdx/markdown-syntax.md
Labels: status: awaiting more approval

#158 translate-docs/add-seo-component
  docs/docs/add-seo-component.md
Labels: status: awaiting more approval

#174 translate docs/creating-global-styles
  docs/docs/creating-global-styles.md
Labels: status: awaiting review

#173 translate contributing/contributor-swag
  docs/contributing/contributor-swag.md
Labels: status: awaiting more approval

#181 feat(docs): translate `basic-hardware-software-requirements`
  docs/docs/basic-hardware-software-requirements.md
Labels: status: awaiting more approval

#180 feat(docs): translate docs/best-practices-for-orgs
  docs/docs/best-practices-for-orgs.md
Labels: status: awaiting more approval

#170 translated docs/adding react components
  docs/docs/adding-react-components.md
Labels: status: awaiting more approval

#175 translate docs/css-libraries-and-frameworks
  docs/docs/css-libraries-and-frameworks.md
Labels: status: awaiting more approval

#176 translate docs/post-css
  docs/docs/post-css.md
Labels: status: awaiting more approval

#185 Add .yarnclean
  .yarnclean
Labels: status: awaiting more approval, status: ready to merge

#184 Bump dependency versions to the latest
  .github/workflows/lint.yml
  package.json
  yarn.lock
Labels: status: awaiting more approval, status: ready to merge

#182 Docs/preparing for deployment
  docs/docs/preparing-for-deployment.md
Labels: status: awaiting more approval

#177 docs/adding-a-list-of-markdown-blog-posts.md
  docs/docs/adding-a-list-of-markdown-blog-posts.md
Labels: status: awaiting more approval

#96 Translate /docs/unit-testing
  docs/docs/unit-testing.md
Labels: status: awaiting more approval

#93 Translated docs/glossary/node
  docs/docs/glossary/node.md
Labels: status: awaiting more approval

#178 Translation of docs/graphql
  docs/docs/graphql.md
Labels: status: awaiting more approval

#179 Translate docs: translate docs/why-gatsby-uses-graphql
  docs/docs/why-gatsby-uses-graphql.md
Labels: status: awaiting author response

#183 translate Docs/adding analytics
  docs/docs/adding-analytics.md
Labels: status: awaiting more approval

#188 Translate docs/audit-with-lighthouse
  docs/docs/audit-with-lighthouse.md
Labels: status: awaiting more approval

#187 Translate docs/adding-an-rss-feed
  docs/docs/adding-an-rss-feed.md
Labels: status: awaiting more approval

#142 Translate docs/recipes/sourcing-data
  docs/docs/recipes/sourcing-data.md
Labels: status: awaiting more approval

#152 translate docs/sourcing-from-graphcms
  docs/docs/sourcing-from-graphcms.md
Labels: status: awaiting more approval

#189 translate docs/docs/css-in-js
  docs/docs/css-in-js.md
Labels: status: awaiting more approval

#195 Fix YAML parsing error
  docs/docs/setting-up-gatsby-without-gatsby-new.md
Labels: status: awaiting more approval

#194 translate docs/mdx/getting-started
  docs/docs/mdx/getting-started.md
Labels: status: awaiting more approval

#197 Transrate `contributing/how-to-file-an-issue`
  docs/contributing/how-to-file-an-issue.md
Labels: status: awaiting more approval

#186 docs: translate docs/docs/seo
  docs/docs/seo.md
Labels: status: awaiting more approval

#198 Translate contributing/how-to-label-an-issue
  docs/contributing/how-to-label-an-issue.md
Labels: status: awaiting more approval

#200 Ignore .DS_Store
  .gitignore
Labels: status: awaiting more approval, status: ready to merge

#199 Transrate `contributing/how-to-contribute`
  docs/contributing/how-to-contribute.md
Labels: status: awaiting more approval

#205 Translate docs/docs/adding-pagination
  docs/docs/adding-pagination.md
Labels: status: awaiting more approval

#201 Use some tricks to speed up CI
  .github/workflows/lint.yml
Labels: status: awaiting more approval, status: ready to merge

#203 Translate docs/docs/actions
  docs/docs/actions.md
Labels: status: awaiting more approval

#202 Translation of docs/testing-components-with-graphql
  docs/docs/testing-components-with-graphql.md
Labels: status: awaiting more approval

#204 Translate docs/adding-forms
  docs/docs/adding-forms.md
Labels: status: awaiting more approval

#209 Fix capitalization of the word GitHub
  docs/contributing/code-of-conduct.md
  docs/docs/recipes/sourcing-data.md
  docs/tutorial/ecommerce-tutorial/index.md
Labels: status: awaiting more approval, status: ready to merge

#208 translate docs/deploying-to-aws-amplify
  docs/docs/deploying-to-aws-amplify.md
Labels: status: awaiting more approval

#210 Transrate contributing/stub-list
  docs/contributing/stub-list.md
Labels: status: awaiting more approval

#206 Contributing/how-to-open-a-pull-request
  docs/contributing/how-to-open-a-pull-request.md
Labels: status: awaiting more approval

#213 docs: translate docs/adding-search.md
  docs/docs/adding-search.md
Labels: status: awaiting more approval
