Repository gatsbyjs/gatsby-ja, pull requests merged in 2020-08, with the labels that each got.

#275 docs: translate docs/docs/local-https
  docs/docs/local-https.md
Labels: status: awaiting more approval

#278 docs: translate docs/guides
  docs/docs/guides.md
Labels: status: awaiting review

#285 align the expression of PR
  docs/docs/basic-hardware-software-requirements.md
  docs/docs/best-practices-for-orgs.md
Labels: status: awaiting more approval

#279 docs: translate docs/docs/building-a-blog
  docs/docs/building-a-blog.md
Labels: status: awaiting more approval

#280 docs: translate docs/configuring-ca-certificates
  docs/docs/configuring-ca-certificates.md
Labels: status: ready to merge
