Repository gatsbyjs/gatsby-ja, pull requests merged in 2020-07, with the labels that each got.

#262 docs: Translate docs/gatsby-on-linux
  docs/docs/gatsby-on-linux.md
Labels: status: awaiting more approval

#269 docs: translate contributing/submit-to-starter-library
  docs/contributing/submit-to-starter-library.md
Labels: status: awaiting more approval

#272 translate docs/gatsby-config
  docs/docs/gatsby-config.md
Labels: status: awaiting more approval

#238 docs: translate docs/contributing/setting-up-your-local-dev-environment
  docs/contributing/setting-up-your-local-dev-environment.md
Labels: status: awaiting more approval

#273 docs: translatedocs/recipes/queryng-data
  docs/docs/recipes/querying-data.md
Labels: status: awaiting review

#276 Update username from imbsky to smorimoto
  CODEOWNERS
  README.md
  package.json
Labels: status: awaiting more approval, status: ready to merge
